<div id="dashboard">
    <h1>DASHBOARD</h1>
    <section>
        <div>
            SOME AWESOME CHART
        </div>
        <% @courses.each do |course| %>
        <div class="course">
            <div class="name"><%= course.name %></div>
            <div class="number"><%= course.number %></div>
            <div class="stat"><%= course.counters.size %></div>
            <div class="actions">
                <span>+</span>
            </div>
        </div>
        <% end %>
    </section>
    <script type="text/javascript">
        function tally(id) {
            // $ = jquery
            //
            // $.get = makes a GET request to your server
            $.get('example-count/' + id + '/1').success(function (counters) {
                $('#tally-' + id).html('Tally ' + counters.length);
            }).error(console.error);
        }
    </script>
</div>
